<div class="Login">
    <div class="container">
      <div class="row">
        <div class="top">
          <div class="heading">Login</div>
          <div class="horizontal-line"></div>
          <div class="head-txt">
            Having great skills and specialty in software quality assurance,
            software testing, software requirement.
          </div>
        </div>
  
        <div class="card">
          <div class="card-body">
            <div class="divider">
              <div class="form-part">
                <div class="intro">Login Using your email</div>
  
                <form class="example-form" (ngSubmit)="loginUser()" [formGroup]="loginForm">
                  <!-- Email -->
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input
                      type="email"
                      matInput
                      formControlName="email"
                      placeholder="Ex. pat@example.com"
                    />
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error
                      *ngIf="loginForm.get('email')?.hasError('required')"
                    >
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
  
                  <!-- Password -->
                  <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input
                      type="password"
                      matInput
                      formControlName="passwordHash"
                      placeholder="Ex. ******"
                    />
                    <mat-error
                      *ngIf="loginForm.get('passwordHash')?.hasError('required')"
                    >
                      Password is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
  
                  <!-- btns -->
                  <div class="boxnbtn">
                    <div class="chkbx">
                      <a [routerLink]="['/forgot-password']">Forget Password</a>
                    </div>
  
                    <div class="buttonp">
                      <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit">
                          Login
                        </button>
                      </div>
                    </div>
                  </div>
  
                  <!-- already account btn -->
                  <div class="ara">
                    Don't you have an account?
                    <a [routerLink]="['/signup']">Sign up now</a>
                  </div>
                </form>
              </div>
  
              <div class="colorpart">
                <div class="mth">Using Social Accounts</div>
  
                <div class="mtt">
                  mollis et mi. Morbi elementum, purus eu congue efficitur, justo
                  dolor condimentum ex, at gravida nisi
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  